.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 90vmin;
  pointer-events: none;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100%;
  min-width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  
}
.Menu {
  align-items: center;
  justify-content: flex-end; 
  position: absolute;
  right: 0;
  top: 30px;

}
.dark {
  align-items: center;
  justify-content: flex-end; 
  position: absolute;
  left: 0;

}
.MenuBar {
  align-items: center;
  justify-content: flex-end; 
  position: absolute;
  right: 0;

}




