.App {
  text-align: center;
  display: flex;
}

.App-logo {
  height: 90vmin;
  pointer-events: none;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100%;
  min-width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  
}
.Menu {
  align-items: center;
  justify-content: flex-end; 
  position: absolute;
  right: 0;
  top: 30px;
  
  

}
.dark {

  justify-content: flex-end; 
  position: absolute;
  
  left: 0;
  top: 0;

}
.MenuBar {
  align-items: center;
  justify-content: flex-end; 
  position: absolute;
  right: 0;

}
.TableListStusents {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70vw; /* تعیین عرض به عنوان 70 درصد از عرض صفحه */
  max-width: 800px; /* حداکثر عرض مجاز */
  height: 70vh; /* تعیین ارتفاع به عنوان 70 درصد از ارتفاع صفحه */
  max-height: 580px; /* حداکثر ارتفاع مجاز */
  background-color: #f0f0f0; /* یک رنگ پس زمینه به عنوان مثال */
  padding: 20px; /* فاصله داخلی برای Table */
  box-sizing: border-box; /* جلوگیری از افزایش اندازه به علت padding */
}




